.bgColor{
    background-image: none;
}
.centeredCss{
    display: flex;
    justify-content: center;
}

.spaceAroundCss{
    display: flex;
    justify-content: space-around;
}
.marginate40{
    margin-top: 40px;
}

.marginate10{
    margin-top: 18px;
}

.gradient {
    width: 100%;
    height: 76px;

    border-radius: 12px;
    background-image: linear-gradient(to bottom, #d158e061, #ff383885);
  }
.gradient::after{
    opacity: 0.45;
}

.spaceBetweenCss{
    display: flex;
    justify-content: space-between;
}

.content{
    border-radius: 12px;
    margin-top: 40px;
  background-color: #e316fb75;
}

td{
    color: white;
}

th{
    color: white;
}
p{
    color: white;
}

.tableCss{
    border: none !important;
}

html, body{
    overflow: auto;
    background-image: linear-gradient(129deg, #1906c6 -24%, #9f0fac 105%);
    background-attachment: fixed;
}
